
/**¯¨'*•~-.¸¸,.-~*'¯¨'*•~-.¸¸,.-~*'¯¨'*•~-.,.-
                CSS de Quique    <º))))><
    ><((((º>
¯¨'*•~-.¸¸,.-~*'¯¨'*•~-.¸¸,.-~*'¯¨'*•~-.,.-~*/

/*
-- Colocar la tipografia en el css
@font-face{
    -- Familia
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    -- De que carpeta cojo la tipo
    src: local('Open Sans'),
        url(../fonts/etc) format('woff');
}
Podemos reducirlo de la siguiente manera
@font-face{
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url(../fonts/etc) format('woff');
}
Nota: No cargar la tipografia en el SO sino directamente meterlo en la carpeta del proyecto.
*/

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
}

/* ======================================================== */
        /* MONTANAS.HTML */
/* ======================================================== */

/* Creo la imagen Div del Fondo */
/* Empezamos sin meterle ninguna altura ni anchura a la imagen, despues si */
.banner-fondo{
    background-image: url('../img/desktop/banner_mountains.jpg');
        /* width: 100%;
        height: 600px;  */
    background-repeat: no-repeat;
    /* Rellena el espacio del bloque con le imagen */
    background-size: cover;
    background-position: center;
}

.banner-fondo__texto{
    padding: 300px 0px;
    text-align: right;
    width: 70%;
    margin-bottom: 30px;
}

/* Cambiar la fuente del titulo en index.html */
.banner-fondo__texto__titulo{
    color: white;
    font-size: 150px;
    font-weight: bolder;
    font-family: 'Arial Black';
    /* Texto en mayúsculas */
    text-transform: uppercase;
    /* Resetear el margin que proviene de normalize.css */
    margin: 0px 0px 20px 0px;
}

.banner-fondo__texto__btn{
    color: rgb(36, 84, 24);
    font-size: 20px;
    border: 1px solid rgb(21, 121, 38);
    /* Redondea el boton */
    border-radius: 4px;
    background-color: rgb(249, 234, 225);
    padding: 5px 50px;
    /* Elimina el enlace subrayado */
    text-decoration: none;
    text-transform: capitalize;
}

/* ======================================================== */
        /* INDEX.HTML */
/* ======================================================== */

.articulo{
    padding: 40px;
}
.bannerMarca{
  width: 45%;

}
.articulo__texto-der{
    display: inline-block;
    width: 50%;
    margin-left: 40px;
    /* float: right; */
    vertical-align: top;
    text-justify: auto;
}
.articulo__texto-abj{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-justify: auto;
}

/* ======================================================= */
        /* body, section articulos */
/* ======================================================= */

.articulos{
    position: relative;
}
.articulos__fondo{
    width: 100%;
    height: 2000px;
    filter: sepia(44%) brightness(99%) saturate(170%) contrast(89%);
}

.articulos__parrafo01{
    display: inline-block;
    height: 900px;
    padding: 80px;
    width: 45%;

    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 5%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.926)
}

.articulos__parrafo02{
    display: inline-block;
    height: 900px;
    padding: 80px;
    width: 45%;

    box-sizing: border-box;
    position: absolute;
    bottom: 100px;
    right: 5%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.926)
}

.articulo02__foto, .articulo03__foto{
    width: 100%;

}

.articulo02__parrafo02, .articulo02__parrafo03{
    margin: 40px;
}
.articulo02__parrafo03{
    column-count: 2;
    column-gap: 20px;
    /* column-rule: */
}